body {
    background-color: grey;
	margin: 10px;
	padding: 0;
	font: 1em "Trebuchet MS", verdana, arial, sans-serif;
	font-size: 100%;
}
ul.tabNavigation {
	list-style: none;
	margin: 0;
	padding: 0;
}
ul.tabNavigation li {
	display: inline;
}
ul.tabNavigation li a {
	padding: 3px 5px;
	background-color: #ccc;
	color: #000;
	text-decoration: none;
}
ul.tabNavigation li a.selected, ul.tabNavigation li a:hover {
	background-color: #333;
	color: #fff;
	padding-top: 7px;
}
ul.tabNavigation li a:focus {
	outline: 0;
}
div.tabs > div {
	padding: 5px;
	margin-top: 3px;
	border: 5px solid #333;
}
div.tabs > div h2 {
	margin-top: 0;
}
#first {
	background-color:gray;
}
#second {
	background-color:gray;
}
#third {
	background-color:gray;
}

#forth {
	background-color: pink;


}
